@media screen and (max-width: 2000px) {
    .App{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
@media screen and (max-width: 1024px) {
    .App{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media screen and (max-width: 768px) {
    .App{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
@media screen and (max-width: 600px) {
    .App{
        display: grid;
        grid-template-columns: 1fr;
        padding-left: 13%;
    }
  }